<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
    <title>VPlay</title>
</head>
<body>
    <div class="container2">
        <div class="vertical">
            <div class="header">
                <div class="homeLogo"></div>
                <input class="search" name="search" type="text" placeholder="search">
                <div class="login"></div>
            </div>
            <div class="underline"></div>
        </div>
        <div class="vertical2">
            <div class="header2">
                <div class="sectitle">Created</div>
                <button class="arrowLeft"></button>
                <button class="arrowRight"></button>
            </div>
            <div class="underline"></div>
            <div class="header">
                <div class="thumbnail">
                    <div class="title">Sample</div>
                </div>
                <button>Create</button>
            </div>
        </div>
        <div class="vertical2">
            <div class="header2">
                <div class="sectitle">Liked</div>
                <button class="arrowLeft"></button>
                <button class="arrowRight"></button>
            </div>
            <div class="underline"></div>
            <div class="header">
                <div class="thumbnail">
                    <div class="title">Sample</div>
                </div>
                <div class="thumbnail">
                    <div class="title">Sample</div>
                </div>
                <div class="thumbnail">
                    <div class="title">Sample</div>
                </div>
                <div class="thumbnail">
                    <div class="title">Sample</div>
                </div>
            </div>
        </div>
    </div>
</body>