body {
    background: #F35BB6;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container .container2 {
    flex-direction: column;
}

.logo {
    width: 50%;
    text-align: center;
}

.login {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background: #C4C4C4;
    width: 50%;
    height: 2em;
    border-radius: 5px;
    margin: 1%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    color: #FEFDFD;
}

button {
    background: #030303;
    height: 2em;
    border-radius: 5px;
    border: none;
    margin: 1%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #FEFDFD;
}

.or {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.vertical {
    width: 98vw;
    height: 8vw;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.homeLogo {
    height: 100%;
    width: 6%;
    background-color: red;
}

.search {
    height: 25%;
    width: 30%;
    background: #C4C4C4;
    border-radius: 15px;
}

.login {
    width: 5%;
    height: 80%;
    background-color: #000000;
    background-image: none;
}

.underline {
    width: 100%;
    height: 2px;
    background: #000000;
    border-radius: 15px;
    margin: 5px;
}

.sectitle {
    width: 90%;
}

.header2 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vertical2 {
    width: 98vw;
    height: 20em;
    display: flex;
    flex-direction: column;
}

.size {
    width: 15vw;
    height: 15vw;
    margin: 0.7em;
}

.thumbnail {
    background: #000000;
    height: 100%;
    width: 100%;
    margin: 0.1em;
}

.content {
    width: 98vw;
    height: 70wh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    .login {
        width: 100%
    }

    * {
        font-size: 36px;
    }

    input {
        width: 80%;
        height: 4em;
        border-radius: 15px;
    }

    button {
        height: 3em;
        border-radius: 20px;
    }

    .vertical {
        height: 25vw;
    }

    .homeLogo {
        width: 40%;
    }
    
    .login {
        width: 30%;
    }

    .sectitle {
        font-size: 1.5em;
    }

    .search {
        width: 60%;
    }

    .vertical2 {
        height: 30em;
    }
}